rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /pools/{poolId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth.uid == resource.data.createdBy;
      
      match /members/{memberId} {
        allow read: if true;
        allow create: if request.auth != null;
        allow update: if request.auth.uid == resource.data.userId;
        allow delete: if request.auth.uid == resource.data.userId;
      }
    }

    match /scores/{tournamentId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
